<h2><font color="#142B3D">Get your city's 5 day forecast here! </font></h2>
<div id="WeatherContainer" class="WeatherContainer" ng-app="Main" ng-controller="WeatherTiles">
    <br />
    <font color="#142B3D">Please Enter Your City Here :</font> <input type="text" ng-model="city"/>
   
    <button ng-click="setTiles()">Submit</button>
    <br/>
    <br/>
    <div class="WeatherTile col-xs-12 col-sm-4 col-lg-2">
        Date: <p class="title"></p>
        Degrees: <p class="temp"></p>
        <p class="desc"></p>
    </div>
    <div class="WeatherTile col-xs-12 col-sm-4 col-lg-2">
        Date: <p class="title"></p>
        Degrees:
        <p class="temp"></p>
        <p class="desc"></p>
    </div>
    <div class="WeatherTile col-xs-12 col-sm-4 col-lg-2">
        Date: <p class="title"></p>
        Degrees:
        <p class="temp"></p>
        <p class="desc"></p>
    </div>
    <div class="WeatherTile col-xs-12 col-sm-4 col-lg-2">
        Date: <p class="title"></p>
        Degrees:
        <p class="temp"></p>
        <p class="desc"></p>
    </div>
    <div class="WeatherTile col-xs-12 col-sm-4 col-lg-2">
        Date: <p class="title"></p>
        Degrees:
        <p class="temp"></p>
        <p class="desc"></p>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-2"><div class="fb-share-button" data-href="http://weatherforecast10.azurewebsites.net/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fweatherforecast10.azurewebsites.net%2F&amp;src=sdkpreparse">Share</a></div><div/>
</div>
